* {
  margin: 0%;
  padding: 0%;
}
body{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Vedio_Background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1; /* Keeps video behind content */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin: 20px;
  box-shadow: 2px 2px 12px black;
  border-radius: 16px;
  width: 450px;
  height: 400px;
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(8px); 
  color: white;  top: 0;
  z-index: 1;
  position: relative;
}
.container h1 {
  font-size: 50px;
}
body .input {
  height: 25px;
  width: 240px;
  font-size: 18px;
  padding: 3px;
  border-radius: 9px;
}
.container .btn {
  height: 40px;
  color: white;
  background-color: blue;
  border-radius: 8px;
  padding: 4px;
  font-size: 20px;
  border: none;
  width: 86px;
  cursor: pointer;
}
.pallet {
  padding: 30px;
  font-size: 20px;
background: #020024;
background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  color: white;
  margin: 15px;
  border-radius: 12px;
  height: 200px;
  width: 250px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}
.Cross_btn{
    cursor: pointer;
    color: black;
    background-color: white;
    padding: 3px;
    height: 24px;
    width: 66px;
    border: none;
    border-radius: 4px;
    position: absolute;
    right: 8%;
}
.Display_Weather{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@media (max-width: 320px) {
    .container h1{
        font-size: 40px;
    }
    .container{
        padding: 0;
        margin: 0%;
    }
    .container .input{
        width: 200px;
    }
}